#!/usr/bin/env xdg-open
[Desktop Entry]
Name=RemNote
Exec=sh -c "u=ls ~/.local/bin/RemNote*.AppImage; $u"
Terminal=false
Type=Application
Icon=/usr/share/icons/remnote.png
StartupWMClass=RemNote
Comment=This is your brain extension
Categories=Utility;
